astroid==2.3.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
pyblake2==1.1.2
pylint==2.4.4
requests==2.23.0
six==1.13.0
soupsieve==2.0
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==16.7.5
wrapt==1.11.2
